/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .lesson {
        width: 50%;
        margin-bottom: 50px;
    }

    .heading h2 {
        font-size: 20px;
    }

    .lesson2 {
        width: 50%;
        margin-bottom: 50px;
    }

    .imbauan {
        font-size: 10px;
        text-align: center;
        color: #7714da;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .lesson {
        width: 100%;
    }

    .lesson2 {
        width: 100%;
    }

    .imbauan {
        font-size: 20px;
        text-align: center;
        color: #26cc4f;
    }
}