* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  /*padding: 180px 0 100px 0;*/
  background-size: cover;
  color: white;
  text-align: center;
  animation-name: example;
  animation-duration: 10s;
  /*max-width: 37.5rem;*/
  height: 780px;
}


.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #3399ff;
  color: #fff !important;
  opacity: 0.8;
  border-radius: 15px;
  line-height: 32px;
}

.btn {
  padding: 3px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 10px;
  text-align: center;
}

.arrow {
  margin-left: 8px;
}

header {
  height: 70px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 70px;
}

.header-left {
  float: left;
}

.header-center {
  display: inline-block;
  margin-left: 10px;
  margin-left: 10px;
  color: #002db3;
}

.header-right {
  float: right;
  margin-right: -25px;
  margin-top: 15px;
  line-height: 32px;
  font-family: 'Montserrat'
}

.header-right a {
  /*line-height: 65px;*/
  padding: 0 25px;
  color: #a6a6a6;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  color: #002db3;
}

.home {
  color: #ff9980 !important;
}

.home {
  color: #002db3 !important;
  border-bottom: 2px solid #002db3 !important;
}

/* Tambahkan CSS untuk menu-icon */
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* Gantikan property display ke none */
  display: none;
  display: none;
}

.space {
  padding: 20px 0;
}


@keyframes tonext {
  75% {
    left: 0;
  }

  95% {
    left: 100%;
  }

  98% {
    left: 100%;
  }

  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }

  95% {
    left: -300%;
  }

  98% {
    left: -300%;
  }

  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }

  97% {
    scroll-snap-align: none;
  }

  99% {
    scroll-snap-align: none;
  }

  100% {
    scroll-snap-align: center;
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 40%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
  counter-increment: item;
}

.carousel__slide:nth-child(even) {
  background-color: #99f;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  opacity: 0.7;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 20%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
  opacity: 0.5;
}

.carousel::before,
.carousel__prev {
  left: 0rem;
}

.carousel::after,
.carousel__next {
  right: 0rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

/* Tambahkan bagian extra wrapper (firghali) di sini */
  * {
  box-sizing: border-box;
}

.extra-wrapper {
  font-family: "Lucida Grande";
  font-size: 15px;
  width: 1172px;
  height: 350px;
  padding: 30px;
}

.extra-wrapper h1 {
  font-size: 25px;
  font-family: georgia;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 5px;
}

.container-left {
  width: 650;
  height: 350;
  float: left;
  padding: 10px;
}

.container-left p {
  padding: 5px;
  margin-bottom: 5px;
}
.selected {
  padding-top: 20px;
}

.heading h2 {
  font-size: 20;
  margin-bottom: 10px;
  padding-left: 5px;
  color: #2b5995;
}

.container-right {
  width: 435;
  height: 350;
  padding-top: 20px;
  float: right;
  text-align: center;
  background-color: #2b5995;
  border-radius: 7px;
  color: white;
}

.heading-icon {
  float: right;
  width: 145px;
  height: 150px;
}
.heading-icon img {
  height: 60px;
  width: 60px;
  margin: 10px 0;
}

.selection {
  padding: 40px;
}
/* Tambahkan bagian extra wrapper (firghali) di atas */
/* extra bagian 1 igg */

.lesson-wrapper {
  padding-bottom: 245px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 10px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon img{
  height: 250px;
}

.txt-contents{
  padding-bottom: 30px;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

/* extra bagian 2 igg */

.iggextrabagian2 {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #f7f7f7;
}

.box {
  display: inline-block;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  flex-wrap: wrap;
  vertical-align: middle;
}

.imbauan {
  width:58px;
  font-size: 40px;
  text-align: left;
  color: #1e1d1f;
  margin-right: 50px;
}

.gambardokter {

}

.penjelasan {
  width:385px;
  font-size: 15px;
  text-align: right;
  float: right;
}
